body {
  background-color: #282A36;
  color: #FF79C6;
  margin: auto;
  padding-top: 10vh;
  text-align: center;
  font-size: 3vh;
  font-family: monospace;
}

div {
  display: inline-block;
}

#entries {
  padding-bottom: 5vh;
}

.entry {
  position: relative;
  float: left;
  padding: 0.6vh;
  padding-bottom: 0vh;
  border: 2px dotted #44475A;
}

.rightborder {
  border-right: 2px solid #6272A4;
}

.bottomborder {
  border-bottom: 2px solid #6272A4;
}

.noleftborder {
  border-left: 2px solid #282A36;
}

.notopborder {
  border-top: 2px solid #282A36;
}

.norightborder {
  border-right: 2px solid #282A36;
}

.nobottomborder {
  border-bottom: 2px solid #282A36;
}

.highlighted {
  border: 2px solid #FFB86C;
}

.sentryd {
  width: 1vh;
  height: 1vh;
  line-height: 1vh;
  text-align: center;
  font-size: 1vh;
  padding-top: 0.1vh;
  float: left;
  color: #F1FA8C;
}
#selsentry {
  display: block;
  color: #F1FA8C;
}

.newline {
  clear: left;
}

.centry {
  position: absolute;
  width: 66%;
  color: #CCCCCC;
}
#selcentry {
  display: block;
  color: #CCCCCC;
}
.highlighteddigit {
  background-color: #44475A;
}

.hidden {
  visibility: hidden;
}

#selsentry > div, #selcentry > div, #seldigits > div {
  border: 2px solid #44475A;
  margin: 0.8vh;
  font-size: 3.5vh;
}

