body {
  background-color: #282A36;
  color: #6272A4;
  font-size: 24px;
}

table {
  border-collapse: collapse;
}

td {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

td:nth-child(3), td:nth-child(6) {
  border-right: 1px solid #44475A;
}

tr:nth-child(3), tr:nth-child(6) {
  border-bottom: 1px solid #44475A;
}

