body {
  background-color: #282A36;
  color: #F8F8F2;
  margin: auto;
  text-align: center;
}

div {
  display: inline-block;
}

.entry {
  position: relative;
  float: left;
  padding: 3px;
  padding-bottom: 0px;
  border: 1px solid #282A36;
}

.rightborder {
  border-right: 1px solid #44475A;
}

.bottomborder {
  border-bottom: 1px solid #44475A;
}

.highlighted {
  border: 1px solid #FFB86C;
}

.sentryd {
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  font-size: 8px;
  float: left;
  color: #BD93F9;
}
#selsentry {
  color: #BD93F9;
}

.newline {
  clear: left;
}

.centry {
  position: absolute;
  left: 40%;
  top: 30%;
  color: #8BE9FD;
}
#selcentry {
  color: #8BE9FD;
}

.hidden {
  visibility: hidden;
}

#selsentry > div, #selcentry > div, #seldigits > div {
  padding: 10px;
}

